body{
    height: 100vh;
    top: -450px;
    left: 1057px;
   background-color: #E0E8FF;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
}

/* .path-container {
    width: 1440px;
    height: 437px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-color: #D6E1FF} */

.card{
    width: 450px;
    height: 697px;
    top: 102px;
    left: 495px;
    border: none ;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 20;
    border: 1px;
    border-radius: 10px;
    
}



.card-header{
    width: 354px;
    height: 37px;
    top: 265px;
    left: 48px;
    font-family:Red Hat Display;
font-size: 28px;
font-weight: 900;
line-height: 37px;
letter-spacing: 0px;
text-align: center;
color: #1F2E55;
margin-bottom: 20px;
margin-left: 53px;

}

.card-content{
    width: 354px;
    height: 78px;
    top: 319px;
    left: 48px;
    font-family: Red Hat Display;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: #717FA6;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
margin-left: 55px;
}
.fa-music{
    color: #717FA6;
}

button{
    width: 354px;
    height: 50px;
    top: 547px;
    left: 48px;
    background-color: #382AE1;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Red Hat Display;
font-size: 15px;
font-weight: 900;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
margin-left: 47px;
}
.rectangle{
    width: 354px;
    height: 98px;
    top: 417px;
    left: 48px;
    background-color: #F7F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 47px;
}
.cancell{
    width: 96px;
    height: 20px;
    top: 629px;
    left: 176px;
    color: #717FA6;
    font-family: Red Hat Display;
font-size: 15px;
font-weight: 900;
line-height: 20px;
letter-spacing: 0px;
text-decoration: none;
}
.cancel{
    margin-top: 45px;
   

}

.mus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 35px;
}
.mus h4 {
    margin-bottom: 0px;}